/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  display: block;
  font-weight: 400;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em; }

h1, .h1 {
  font-size: 2em;
  font-weight: bold; }

h2, .h2 {
  font-size: 1.5em;
  font-weight: bold; }

h3, .h3 {
  font-size: 1.17em;
  font-weight: bold; }

h4, .h4 {
  font-size: 1.12em;
  font-weight: bold; }

h5, .h5 {
  font-size: .83em;
  font-weight: bold; }

h6, .h6 {
  font-size: .75em;
  font-weight: bold; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

.text-bold {
  font-weight: bold; }

.button {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  user-select: none;
  background-color: transparent;
  border-color: #dbdbdb;
  color: #3b3e42;
  cursor: pointer;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  white-space: nowrap;
  appearance: none;
  box-align: center;
  box-shadow: none;
  box-pack: start;
  user-select: none;
  box-pack: center; }
  .button:focus, .button:hover {
    outline: 0px;
    text-decoration: none; }

.is-primary {
  background-color: #146fd1;
  border-color: #146fd1;
  color: #d0d7dd; }
  .is-primary:hover {
    background-color: #1056a2; }

.is-secondary {
  background-color: #5d6268;
  border-color: #5d6268;
  color: #d0d7dd; }
  .is-secondary:hover {
    background-color: #45494d; }

.is-success {
  background-color: #19702d;
  border-color: #19702d;
  color: #d0d7dd; }
  .is-success:hover {
    background-color: #10461c; }

.is-danger {
  background-color: #aa2935;
  border-color: #aa2935;
  color: #d0d7dd; }
  .is-danger:hover {
    background-color: #811f28; }

.is-warning {
  background-color: #c4970f;
  border-color: #c4970f;
  color: #d0d7dd; }
  .is-warning:hover {
    background-color: #95730b; }

.is-info {
  background-color: #137b8c;
  border-color: #137b8c;
  color: #d0d7dd; }
  .is-info:hover {
    background-color: #0d545f; }

.is-light {
  background-color: #d0d7dd;
  border-color: #d0d7dd;
  color: #3b3e42; }
  .is-light:hover {
    background-color: #b2bec8; }

.is-dark {
  background-color: #3b3e42;
  border-color: #3b3e42;
  color: #d0d7dd; }
  .is-dark:hover {
    background-color: #232527; }

.is-link {
  border-radius: 0;
  color: #146fd1;
  font-weight: 400; }
  .is-link, .is-link:hover {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none; }
  .is-link:focus, .is-link:hover {
    background-color: transparent;
    color: #1056a2;
    text-decoration: underline; }

.is-outline-primary {
  background-color: transparent;
  border-color: #146fd1;
  color: #146fd1; }
  .is-outline-primary:hover {
    background-color: #146fd1;
    border-color: #146fd1;
    color: #d0d7dd; }

.is-outline-secondary {
  background-color: transparent;
  border-color: #5d6268;
  color: #5d6268; }
  .is-outline-secondary:hover {
    background-color: #5d6268;
    border-color: #5d6268;
    color: #d0d7dd; }

.is-outline-success {
  background-color: transparent;
  border-color: #19702d;
  color: #19702d; }
  .is-outline-success:hover {
    background-color: #19702d;
    border-color: #19702d;
    color: #d0d7dd; }

.is-outline-danger {
  background-color: transparent;
  border-color: #aa2935;
  color: #aa2935; }
  .is-outline-danger:hover {
    background-color: #aa2935;
    border-color: #aa2935;
    color: #d0d7dd; }

.is-outline-warning {
  background-color: transparent;
  border-color: #c4970f;
  color: #c4970f; }
  .is-outline-warning:hover {
    background-color: #c4970f;
    border-color: #c4970f;
    color: #d0d7dd; }

.is-outline-info {
  background-color: transparent;
  border-color: #137b8c;
  color: #137b8c; }
  .is-outline-info:hover {
    background-color: #137b8c;
    border-color: #137b8c;
    color: #d0d7dd; }

.is-outline-danger {
  background-color: transparent;
  border-color: #aa2935;
  color: #aa2935; }
  .is-outline-danger:hover {
    background-color: #aa2935;
    border-color: #aa2935;
    color: #d0d7dd; }

.is-outline-light {
  background-color: transparent;
  border-color: #d0d7dd;
  color: #d0d7dd; }
  .is-outline-light:hover {
    background-color: #d0d7dd;
    border-color: #d0d7dd;
    color: #3b3e42; }

.is-outline-dark {
  background-color: transparent;
  border-color: #3b3e42;
  color: #3b3e42; }
  .is-outline-dark:hover {
    background-color: #3b3e42;
    border-color: #3b3e42;
    color: #d0d7dd; }

.is-small {
  border-radius: 2px;
  font-size: 0.75rem; }

.is-medium {
  font-size: 1.25rem; }

.is-large {
  font-size: 1.5rem; }

/*# sourceMappingURL=aprilia-framework.css.map */
