.button {
  border: 1px solid transparent;
  border-radius: .25rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  padding: .5rem .75rem;
  text-align: center;
  transition: all .15s ease-in-out;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none; }
