.button{
  border: 1px solid transparent;
  border-radius: .25rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  padding: .5rem .75rem;
  text-align: center;
  transition: all .15s ease-in-out;
  vertical-align: middle;
  light-space: nowrap;
  user-select: none;

  &:focus, &:hover{
    outline:0px;
    text-decoration: none;
  }
}

.is{
  &-primary{
    color: $light-color;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover{
      background-color: darken($primary-color, 10%);
    }
  }

  &-secondary{
    color: $light-color;
    background-color: $secondary-color;
    border-color: $secondary-color;

    &:hover{
      background-color: darken($secondary-color, 10%);
    }
  }

  &-success{
    color: $light-color;
    background-color: $success-color;
    border-color: $success-color;

    &:hover{
      background-color: darken($success-color, 10%);
    }
  }

  &-danger{
    color: $light-color;
    background-color: $danger-color;
    border-color: $danger-color;

    &:hover{
      background-color: darken($danger-color, 10%);
    }
  }

  &-warning{
    color: $light-color;
    background-color: $warning-color;
    border-color: $warning-color;

    &:hover{
      background-color: darken($warning-color, 10%);
    }
  }

  &-info{
    color: $light-color;
    background-color: $info-color;
    border-color: $info-color;

    &:hover{
      background-color: darken($info-color, 10%);
    }
  }

  &-light{
    color: $dark-color;
    background-color: $light-color;
    border-color: $light-color;

    &:hover{
      background-color: darken($light-color, 10%);
    }
  }

  &-dark{
    color: $light-color;
    background-color: $dark-color;
    border-color: $dark-color;

    &:hover{
      background-color: darken($dark-color, 10%);
    }
  }

  &-link{
    font-weight: 400;
    color: $primary-color;
    border-radius: 0;

    &, &:hover{
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }

    &:focus, &:hover{
      color: darken($primary-color, 10%);
      text-decoration: underline;
      background-color: transparent;
    }
  }
}
