$light-color:     #d0d7dd;
$dark-color:      #3b3e42;
$grey-color:      #dbdbdb;
$primary-color:   #146fd1;
$secondary-color: #5d6268;
$success-color:   #19702d;
$danger-color:    #aa2935;
$warning-color:   #c4970f;
$info-color:      #137b8c;
