h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  display: block;
  font-weight: 400;
  margin-bottom: .67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: .67em;
}

h1,
.h1 {
  font-size: 2em;
  font-weight: bold;
}

h2,
.h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3,
.h3 {
  font-size: 1.17em;
  font-weight: bold;
}

h4,
.h4 {
  font-size: 1.12em;
  font-weight: bold;
}

h5,
.h5 {
  font-size: .83em;
  font-weight: bold;
}

h6,
.h6 {
  font-size: .75em;
  font-weight: bold;
}

.text {
  &-center {
    text-align: center !important;
  }

  &-right {
    text-align: right !important;
  }

  &-left {
    text-align: left !important;
  }

  &-bold {
    font-weight: bold;
  }
}
